.footer{
    background-color: rgba(0, 0, 0, 0.603);
   
    height: 6em;
    text-align: center;
    
    
   h4{
       padding-top: 1.5em;
       align-items: center;
color: rgba(255, 255, 255, 0.267);
font-size: 1.5em;
   }
}