* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* .body {
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(1, 27, 43, 0.877);
}

.header {
  padding: 0em;
  width: 100%;
  margin: 0em;
}

.header .menu {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.4em;
  margin-left: 0em;
  margin-right: 0em;
  width: 100%;
  border-bottom: 2px solid #fff;
}

.header .menu .titulo__a {
  color: #bbb8b8;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.header .menu .titulo__a h1 {
  font-weight: 1000;
}

.header .menu .titulo__a:hover {
  color: #fff;
}

.header .menu .registra_campana {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5em;
}

.header .menu .registra_campana .registra_tu_empresa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
  border: solid 1px #fff;
  border-radius: 1em;
  padding: 0.30em;
}

.header .menu .registra_campana .registra_tu_empresa .fa-home {
  margin-right: 0.3em;
  color: #fff;
}

.header .menu .registra_campana .registra_tu_empresa .a_tu_empresa {
  text-decoration: none;
  color: #fff;
}

.header .menu .registra_campana .registra_tu_empresa .a_tu_empresa .h3_tu_empresa {
  font-size: 0.7em;
}

.header .menu .registra_campana .registra_tu_empresa:hover {
  background-color: rgba(47, 79, 79, 0.74);
  color: black;
}

.header .menu .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0em;
  padding-right: 0em;
  margin: 0.2em;
}

.header .menu .redes .redes_iconos {
  padding: 0.4em;
}

.header .menu .redes .redes_iconos .bi {
  color: #fff;
}

.header .menu .redes .redes_iconos .bi:hover {
  color: lightblue;
}

.header .search-bar {
  position: absolute;
  z-index: 1;
  top: 8em;
  bottom: 8em;
  width: 100%;
  right: 5em;
  left: 5em;
  margin: 0 auto;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header .search-bar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header .search-bar {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  .header .search-bar {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

.main {
  font-family: 'Quicksand', sans-serif;
}

.main .carousel-inner .carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
}

.main .carousel-inner .carousel-caption {
  bottom: 13em;
  padding-left: 2em;
  padding-right: 4.5em;
  top: 14em;
  position: absolute;
}

.main .carousel-inner .carousel-caption h5 {
  font-size: 5em;
  font-weight: 900;
}

.main .carousel-inner .carousel-caption h5 span {
  color: #b70e21;
}

.main .carousel-inner .carousel-caption p {
  font-size: 1.5em;
}

.main .carousel-inner .carousel-caption p span {
  color: green;
}

.main .carousel-inner .carousel-caption .bi-phone {
  color: teal;
}

.main .carousel-inner .carousel-caption .bi-pin-map {
  color: #fffb00d2;
}

.main .Cuadrados {
  margin: 5em;
}

.main .Cuadrados .div-titulo {
  margin-left: 20em;
  background: none;
  color: white;
}

.main .Cuadrados .div-titulo .h2-cuadrados {
  text-align: center;
  border: rgba(165, 158, 158, 0.212) solid 1px;
  border-radius: 15px;
  height: 3em;
  width: 10em;
  -webkit-box-shadow: -5px -6px 15px 0 rgba(255, 255, 255, 0.425), 5px 6px 8px 0 rgba(88, 88, 88, 0.445);
          box-shadow: -5px -6px 15px 0 rgba(255, 255, 255, 0.425), 5px 6px 8px 0 rgba(88, 88, 88, 0.445);
  margin: 2em;
}

.main .Cuadrados .grid-cuadrados {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "deportes nosotros unite";
  margin: 1em;
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-top: rgba(165, 158, 158, 0.212) solid 1px;
  border-left: rgba(165, 158, 158, 0.212) solid 1px;
  border-bottom: rgba(165, 158, 158, 0.212) solid 1px;
  -webkit-transform: rotate(-3deg) skewX(5deg) translate(0, 0);
          transform: rotate(-3deg) skewX(5deg) translate(0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
          box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

.main .Cuadrados .grid-cuadrados .deportes {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: deportes;
  background-color: black;
  height: 10em;
  width: 10em;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) skewX(10deg) translate(0, 0);
          transform: rotate(0deg) skewX(10deg) translate(0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: -20px 20px 10px red;
          box-shadow: -20px 20px 10px red;
}

.main .Cuadrados .grid-cuadrados .deportes:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: rgba(68, 68, 68, 0.493);
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-transform: rotate(0deg) skewY(-45deg);
          transform: rotate(0deg) skewY(-45deg);
  border-radius: 3px;
}

.main .Cuadrados .grid-cuadrados .deportes:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: red;
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-transform: rotate(0deg) skewX(-45deg);
          transform: rotate(0deg) skewX(-45deg);
  border-radius: 3px;
}

.main .Cuadrados .grid-cuadrados .deportes:hover {
  -webkit-box-shadow: -50px 50px 60px rgba(235, 235, 235, 0.541);
          box-shadow: -50px 50px 60px rgba(235, 235, 235, 0.541);
  -webkit-transform: rotate(1deg) skew(-20deg, 5deg) translate(20px, -10px);
          transform: rotate(1deg) skew(-20deg, 5deg) translate(20px, -10px);
}

.main .Cuadrados .grid-cuadrados .nosotros {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nosotros;
  background-color: black;
  height: 10em;
  width: 10em;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) skewX(10deg) translate(0, 0);
          transform: rotate(0deg) skewX(10deg) translate(0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: -20px 20px 10px red;
          box-shadow: -20px 20px 10px red;
}

.main .Cuadrados .grid-cuadrados .nosotros:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: rgba(68, 68, 68, 0.493);
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-transform: rotate(0deg) skewY(-45deg);
          transform: rotate(0deg) skewY(-45deg);
  border-radius: 3px;
}

.main .Cuadrados .grid-cuadrados .nosotros:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: rgba(68, 68, 68, 0.733);
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-transform: rotate(0deg) skewX(-45deg);
          transform: rotate(0deg) skewX(-45deg);
  border-radius: 3px;
}

.main .Cuadrados .grid-cuadrados .nosotros:hover {
  -webkit-box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(1deg) skew(-20deg, 5deg) translate(20px, -10px);
          transform: rotate(1deg) skew(-20deg, 5deg) translate(20px, -10px);
}

.main .Cuadrados .grid-cuadrados .unite {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: unite;
  background-color: black;
  height: 10em;
  width: 10em;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) skewX(10deg) translate(0, 0);
          transform: rotate(0deg) skewX(10deg) translate(0, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: -20px 20px 10px red;
          box-shadow: -20px 20px 10px red;
}

.main .Cuadrados .grid-cuadrados .unite:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: rgba(68, 68, 68, 0.493);
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-transform: rotate(0deg) skewY(-45deg);
          transform: rotate(0deg) skewY(-45deg);
  border-radius: 3px;
}

.main .Cuadrados .grid-cuadrados .unite:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: rgba(68, 68, 68, 0.733);
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-transform: rotate(0deg) skewX(-45deg);
          transform: rotate(0deg) skewX(-45deg);
  border-radius: 3px;
}

.main .Cuadrados .grid-cuadrados .unite:hover {
  -webkit-box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
          box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(1deg) skew(-20deg, 5deg) translate(20px, -10px);
          transform: rotate(1deg) skew(-20deg, 5deg) translate(20px, -10px);
}

.main .h2-doparti {
  text-align: center;
  border: rgba(165, 158, 158, 0.212) solid 1px;
  border-radius: 15px;
  padding-top: .7em;
  -webkit-box-shadow: -5px -6px 15px 0 rgba(255, 255, 255, 0.425), 5px 6px 8px 0 rgba(88, 88, 88, 0.445);
          box-shadow: -5px -6px 15px 0 rgba(255, 255, 255, 0.425), 5px 6px 8px 0 rgba(88, 88, 88, 0.445);
  margin-top: 10em;
  width: 70%;
  margin-left: 10em;
}

.main .h2-doparti h2 {
  color: white;
}

.main .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 4em;
}

.main .video .mercado-pago {
  display: block;
  padding: 1em;
}

.main .video .mercado-pago .imagen {
  width: 150px;
  border-radius: 50%;
  padding: 1em;
}

.main .video .div-frase {
  height: 20em;
  width: 19em;
  border: rgba(165, 158, 158, 0.212) solid 1px;
  border-radius: 8px;
  padding: 1em;
  background-color: rgba(80, 7, 7, 0.158);
}

.main .video .div-frase .p-frase {
  font-family: 'Gelasio', serif;
  font-style: italic;
  line-height: 1.15em;
  letter-spacing: 2px;
  color: white;
  font-size: 2em;
}

.main .video .div-frase .p-frase::before {
  content: "\201c";
}

.main .video .div-frase .p-nombre {
  font-weight: bold;
  font-style: normal;
  text-align: right;
  font-family: 'Gelasio', serif;
  font-size: 1.4em;
  color: lightskyblue;
}

.main .video .div-frase .p-nombre span {
  color: rgba(230, 230, 77, 0.966);
  font-size: 1em;
}

.main .video .div-frase .p-nombre::before {
  content: "\2014\0020";
}

.main .redes-luminosos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  margin-top: 4em;
}

.main .redes-luminosos h2 {
  color: white;
  border-right: rgba(255, 255, 255, 0.541) 2px solid;
  padding-right: 1em;
}

.main .redes-luminosos .redes-luminosos__ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.main .redes-luminosos .redes-luminosos__ul .redes-luminosos__li {
  position: relative;
  list-style: none;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 5em;
}

.main .redes-luminosos .redes-luminosos__ul .redes-luminosos__li:hover {
  z-index: 10000;
}

.main .redes-luminosos .redes-luminosos__ul .redes-luminosos__li::before {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(rgba(1, 27, 43, 0.877)), 0 0 0 22px var(--clr);
          box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(rgba(1, 27, 43, 0.877)), 0 0 0 22px var(--clr);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .redes-luminosos .redes-luminosos__ul .redes-luminosos__li::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(rgba(1, 27, 43, 0.877));
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main .redes-luminosos .redes-luminosos__ul .redes-luminosos__li .redes-luminosos__a {
  position: relative;
  text-decoration: none;
  color: var(--clr);
  z-index: 10;
  font-size: 2em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .redes-luminosos .redes-luminosos__ul .redes-luminosos__li .redes-luminosos__a:hover {
  font-size: 3em;
  -webkit-filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
          filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}

.footer {
  background-color: rgba(0, 0, 0, 0.603);
  height: 6em;
  text-align: center;
}

.footer h4 {
  padding-top: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.267);
  font-size: 1.5em;
}
/*# sourceMappingURL=estilos.css.map */