.main{
    font-family: 'Quicksand', sans-serif;
    .carousel-inner{
    .carousel-item::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #000;
        opacity: 0.7;
    
    }
        .carousel-caption{
            bottom: 13em;
            padding-left: 2em;
            padding-right: 4.5em;
            top:14em;
            position: absolute;
           
          & h5{  font-size: 5em;
        font-weight: 900;}
        & h5 span{
            color:#b70e21;
        }
          & p{ font-size: 1.5em;}
          & p span{
              color: green;
          }
          .bi-phone{
            color: teal;
          }
          .bi-pin-map{
              color:#fffb00d2;
          }
            
          @media only screen and (min-width: 320px) and (max-width: 480px){
              
        } 
        @media only screen and (max-width: 768px){
           
        }
        @media only screen and (max-width: 900px){
           
        }

        
    }
}
.Cuadrados{
    margin: 5em;
    .div-titulo{
    margin-left: 20em;
        background: none;
        color: white;
        
       
      
        .h2-cuadrados{
            text-align: center;
           border: rgba(165, 158, 158, 0.212) solid 1px;
           border-radius: 15px;
          
        
           height: 3em;
           width: 10em;
           box-shadow:
           -5px -6px 15px 0 rgba(255,255,255,0.425),
           5px 6px 8px 0 rgba(88,88,88,0.445);
           margin: 2em;
        }
    }
  
.grid-cuadrados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "deportes nosotros unite";
   margin: 1em;
    padding:2em;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
    color:#fff;
    border-top: rgba(165, 158, 158, 0.212) solid 1px;
    border-left:rgba(165, 158, 158, 0.212) solid 1px ;
   border-bottom: rgba(165, 158, 158, 0.212) solid 1px;
    transform: rotate(-3deg) skewX(5deg) translate(0,0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
   
    .deportes{
        grid-area: deportes;
        background-color: black;
        height: 10em;
        width: 10em;
        border: 1px solid black;
        border-radius: 5px;
        transform: rotate(0deg) skewX(10deg) translate(0,0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(255,0,0,1);
     &:before{
         content: "";
         position: absolute;
         top: 10px;
         left: -20px;
         height: 100%;
         width: 20px;
         background:  rgba(68, 68, 68, 0.493);
         transform: 0.5s;
         transform: rotate(0deg) skewY(-45deg);
         border-radius: 3px;
        }
        &:after{
            content: "";
            position: absolute;
            bottom: -20px;
            left: -10px;
            height: 20px;
            width: 100%;
            background: rgba(255,0,0,1);
            transform: 0.5s;
            transform: rotate(0deg) skewX(-45deg);
            border-radius: 3px;
         }
         &:hover{
            box-shadow: -50px 50px 60px  rgba(235, 235, 235, 0.541);
            transform: rotate(1deg) skew(-20deg, 5deg) translate(20px,-10px);
         }
    }
    .nosotros{
        grid-area: nosotros;
        background-color: black;
        height: 10em;
        width: 10em;
        border: 1px solid black;
        border-radius: 5px;
        transform: rotate(0deg) skewX(10deg) translate(0,0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(255,0,0,1);
    &:before{
        content: "";
        position: absolute;
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        background: rgba(68, 68, 68, 0.493);
        transform: 0.5s;
        transform: rotate(0deg) skewY(-45deg);
        border-radius: 3px;
    }
    &:after{
        content: "";
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        background: rgba(68, 68, 68, 0.733);
        transform: 0.5s;
        transform: rotate(0deg) skewX(-45deg);
        border-radius: 3px;
     }
     &:hover{
        box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
        transform: rotate(1deg) skew(-20deg, 5deg) translate(20px,-10px);
     }
    }
    .unite{
        grid-area: unite;
        background-color:black;
        height: 10em;
        width: 10em;
        border: 1px solid black;
        border-radius: 5px;
        transform: rotate(0deg) skewX(10deg) translate(0,0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(255,0,0,1);
    &:before{
        content: "";
        position: absolute;
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        background:  rgba(68, 68, 68, 0.493);
        transform: 0.5s;
        transform: rotate(0deg) skewY(-45deg);
        border-radius: 3px;
     }
     &:after{
        content: "";
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        background: rgba(68, 68, 68, 0.733);
        transform: 0.5s;
        transform: rotate(0deg) skewX(-45deg);
        border-radius: 3px;
     }
     &:hover{
        box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
        transform: rotate(1deg) skew(-20deg, 5deg) translate(20px,-10px);
     }
       
        }
    }
}

.h2-doparti{
             text-align: center;
           border: rgba(165, 158, 158, 0.212) solid 1px;
           border-radius: 15px;
            padding-top:.7em;;
           box-shadow:
           -5px -6px 15px 0 rgba(255,255,255,0.425),
           5px 6px 8px 0 rgba(88,88,88,0.445);
           margin-top: 10em;
          width: 70%;
          margin-left: 10em;
           h2{
               color: white;
           }
        }

.video{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
    .mercado-pago{
        display: block;
        padding: 1em;
        .imagen{
            width: 150px;
            border-radius: 50%;
            padding: 1em;
       
    }
    }

   
    .div-frase{
        height: 20em;
        width: 19em;
        border: rgba(165, 158, 158, 0.212) solid 1px;
        border-radius: 8px;
        padding: 1em;
        background-color: rgba(80, 7, 7, 0.158);
    .p-frase{
     font-family: 'Gelasio', serif;
     font-style: italic;
     line-height: 1.15em;
     
        letter-spacing: 2px;
        color: white;
        font-size: 2em;
        &::before{
            content: "\201c";
        }
    }
    .p-nombre{
        font-weight: bold;
        font-style: normal;
        text-align: right;
        font-family:'Gelasio', serif ;
        font-size: 1.4em;
        color: lightskyblue;
        span{
            color: rgba(230, 230, 77, 0.966);
            font-size: 1em;
        }
        
    &::before{
        content: "\2014\0020";
    }
    }
}
}
.redes-luminosos{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
   margin-top: 4em;
   h2{
       color: white;
       border-right:rgba(255, 255, 255, 0.541) 2px solid ;
       padding-right: 1em;
       
   }
    

    .redes-luminosos__ul{
        position: relative;
        display: flex;
        gap: 50px;
       
        .redes-luminosos__li{
            position: relative;
            list-style: none;
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;
            padding: 5em;
           
            &:hover{
                z-index: 10000;
               
            }
            &::before{
                content: "";
                position: absolute;
                inset: 0;
                box-shadow: 
                0 0 0 10px var(--clr),
                0 0 0 20px var($bg_oscuro),
                0 0 0 22px var(--clr);
                transition: 0.5s;
            }
            &::after{
                content: "";
                position: absolute;
                inset: 0;
                background: var($bg_oscuro);
                transform: rotate(45deg);
            }
            .redes-luminosos__a{
                position: relative;
                text-decoration: none;
                color: var(--clr);
                z-index: 10;
                font-size: 2em;
                transition: 0.5s;
                &:hover{
                    font-size: 3em;
                    filter: drop-shadow(0 0 20px var(--clr))
                            drop-shadow(0 0 40px var(--clr))
                            drop-shadow(0 0 60px var(--clr));
                }
            }
        }
    }
}
}



